<!DOCTYPE html>
<html layout:decorate="~{shared/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Account List</title>
</head>

<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Account List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Account List</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-primary" href="/account/add">
                                <i class="fas fa-plus"></i> Add New
                            </a>
                        </div>
                        <div class="card-body">
                            <table id="table-view" class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 150px;">#ID</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th style="width: 150px;">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${accountList}">
                                    <td class="text-center" th:text="${account.accountId}"></td>
                                    <td th:text="${account.username}"></td>
                                    <td th:text="${account.role}"></td>
                                    <td>
                                        <span
                                                th:classappend="${account.status == true ? 'badge badge-success' : 'badge badge-danger'}"
                                                th:text="${account.status == true ? 'Active' : 'Inactive'}">
                                        </span>
                                    </td>
                                    <td class="d-flex">
                                        <a class="btn btn-info btn-sm mr-2 d-flex align-items-center"
                                           th:href="@{'/account/detail/' + ${account.accountId}}"
                                           title="Detail">
                                            <i class="fas fa-eye mr-1"></i> <span>Detail</span>
                                        </a>
                                        <a class="btn btn-warning btn-sm d-flex align-items-center"
                                           th:href="@{'/account/update/' + ${account.accountId}}"
                                           title="Update">
                                            <i class="fas fa-edit mr-1"></i> <span>Update</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- Pagination -->
                            <nav aria-label="Page navigation example"
                                 th:if="${accountList != null && totalPages != null}"
                                 class="d-flex justify-content-end mt-3">
                                <ul class="pagination">
                                    <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                                        <a class="page-link"
                                           th:href="@{${'/account/list?currentPage=' + 1 + '&size=' + size}}">Previous</a>
                                    </li>
                                    <li th:class="${currentPage == pageNumber ? 'page-item active' : 'page-item'}"
                                        th:each="pageNumber: ${#numbers.sequence(1, totalPages)}">
                                        <a class="page-link"
                                           th:href="@{${'/account/list?currentPage=' + pageNumber + '&size=' + size}}"
                                           th:text="${pageNumber}">
                                        </a>
                                    </li>
                                    <li class="page-item"
                                        th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                                        <a class="page-link"
                                           th:href="@{${'/account/list?currentPage=' + totalPages + '&size=' + size}}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>